@media (max-width: 992px) {
  .topvar-title {
    display: none;
  }
  #job {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.title button {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #fff;
}
.title button:hover {
  background-color: #d6c08d;
  cursor: pointer;
  border: 1px solid #000;
}

@media (max-width: 992px) {
}
